footer {
     background: var(--Very-Dark-Cyan);
     font-family: 'Open Sans', sans-serif;
     font-size: 15px;
     margin-bottom: 0;
     font-weight: 300;
     color: var(--Very-Pale-Cyan);
     padding: 6rem 7.5rem 2rem;
     position: relative;
}

.start-container {
     background: white;
     width: 520px;
     height: 170px;
     border-radius: 15px;
     box-shadow: rgb(145, 144, 144) 0.5px 0.5px 20px -12px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     position: absolute;
     top: -105px;
     left: calc(50% - 260px);
}

.start-container h3 {
     color: var(--Very-Dark-Cyan);
     font-weight: 600;
}

.start-container .pink-button {
     text-align: center;
     margin: 10px calc(75% - 210px) 0;
}

footer > p {
     margin-bottom: 0;
     text-align: right;
}

footer > img {
     background: var(--Very-Pale-Cyan);
     padding: 0.6rem;
     border-radius: 10px;
     margin-bottom: 1.5rem;
}

.footer-container {
     height: 155px;
     display: grid;
     grid-template-columns: 1.5fr 1fr 1fr;

}

.footer-content p {
     display: inline-block;
     padding-left: 10px;
}

.footer-info a {
     color: var(--Very-Pale-Cyan);
     text-decoration: none;
}

.footer-info {
     height: 100px;
     display: grid;
     grid-template-columns: 50% 50%;
     grid-gap: 2px;
     margin-right: 2.5rem;
     margin-top: 15px;
}

.social-media {
     display: flex;
     justify-content: center;
     margin-top: 15px;
}

.social-media svg {
     margin: 0 0.5rem;
}

/* responsive design */

/* medium screen */

@media screen and (max-width:1000px) {
     
     footer {
          padding: 6rem 1.5rem 2rem;
     }

}

/* tablet */

@media screen and (max-width:768px) {

     .start-container {
          max-width: 410px;
          left: calc(50% - 205px);;
     }

     .footer-container {
          display: grid;
          grid-template-columns: 4fr 1fr;
     }

     .footer-content p {
          margin: 12px 0;
     }

     .social-media {
          padding-top: 18px;
          justify-content: flex-start;
     }

     .footer-info a {
          width: 80px;
     }
}

/* large phone */

@media screen and (max-width:580px) {
     
     footer {
          height: 550px;
          position: relative;
     }

     .footer-container {
          display: grid;
          grid-template-columns: 1fr;
     }

     .footer-info {
          width: 200px;
     }

     footer > p {
          position: absolute;
          left: calc(50% - 153px);
          bottom: 15px;
     }

     .social-media {
          padding-top: 18px;
          justify-content: center;
          margin-bottom: 15px;
     }


}

/* phone */

@media screen and (max-width:480px) {
     
     .start-container {
          max-width: 320px;
          left: calc(50% - 160px);
     }
}
