header {
     background: url('../images/bg-hero-desktop.svg');
     background-size: cover;
     font-family: 'Poppins', sans-serif;
     padding-bottom: 3rem;
}

.heading {
     padding: 3.5rem 3rem 0 5rem;
     display: flex;
     justify-content: space-between;
     margin-bottom: 3.5rem;
}

.heading img {
     max-height: 39px;
}

button {
     width: 200px;
     text-align: center;
     border-radius: 22px;
     color: var(--Very-Dark-Cyan);
     font-weight: 600;
     background: white;
     border: none;
     box-shadow: grey 0.5px 0.5px 20px -9px;
     height: 43px;
     font-size: 15px;
     font-family: 'Poppins', sans-serif;
}

.header-container {
     display: flex;
     width: 90%;
     margin: 0 auto;
}

.header-content {
     width: 50%;
     padding: 2rem 0.6rem 0;
}

.header-content h2 {
     margin-bottom: 2rem;
     width: 65%;
}

.header-content p {
     margin-bottom: 1.5rem;
     width: 90%;
}

.pink-button {
     background: var(--Pink);
     color: white;
     height: 45px;
     width: 210px;
     font-size: 14px;
}

.header-img {
     width: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
}

.header-img img {
     width: 88%;
}

/* responsive design */

/* medium screen */

@media screen and (max-width:1000px) {
     
     .heading {
          padding: 3.5rem 3rem 0 2.5rem;
     }

     .header-content {
          padding: 2rem 0 0;
     }

}

/* tablet */

@media screen and (max-width:768px) {
     
     .header-container {
          flex-direction: column;
     }

     .header-content {
          width: 100%;
     }

     .header-content h2 {
          width: 60%;
          text-align: center;
          margin: 0 auto;
     }

     .header-content p {
          width: 80%;
          margin: 1.5rem auto;
          text-align: center;
     }

     .pink-button {
          width: 260px;
          margin: 0 calc(50% - 130px);
     }

     .header-img {
          width: 85%;
          margin: 4rem auto 0;
     }
}

/* small tablets */

@media screen and (max-width:580px) {
     
     .heading button {
          display: none;
     }
}


/* phone */

@media screen and (max-width:480px) {
     
     .heading {
          padding: 2rem 1rem;
          margin: 0 0 1rem;
          padding-left: 2rem;
     }

}