header {
     background: url('../images/bg-hero-desktop.svg');
     background-size: cover;
     font-family: 'Poppins', sans-serif;
     padding-bottom: 3rem;
}

.heading {
     padding: 3.5rem 3rem 0 5rem;
     display: flex;
     justify-content: space-between;
     margin-bottom: 3.5rem;
}

.heading img {
     max-height: 39px;
}

button {
     width: 200px;
     text-align: center;
     border-radius: 22px;
     color: var(--Very-Dark-Cyan);
     font-weight: 600;
     background: white;
     border: none;
     box-shadow: grey 0.5px 0.5px 20px -9px;
     height: 43px;
     font-size: 15px;
     font-family: 'Poppins', sans-serif;
}

.header-container {
     display: flex;
     width: 90%;
     margin: 0 auto;
}

.header-content {
     width: 50%;
     padding: 2rem 1rem 0;
}

.header-content h2 {
     margin-bottom: 2rem;
     width: 50%;
}

.header-content p {
     margin-bottom: 1.5rem;
}

.pink-button {
     background: var(--Pink);
     color: white;
     height: 45px;
     width: 210px;
     font-size: 14px;
}

.header-img {
     margin-left: 1rem;
     width: 50%;
     text-align: center;
}

.header-img img {
     width: 88%;
     margin: 0 auto;
}