main {
     margin-top: 5rem;
     padding-bottom: 8rem;
     font-family: 'Open Sans', sans-serif;
}

.content-container {
     border-radius: 15px;
     box-shadow: rgb(145, 144, 144) 0.5px 0.5px 20px -12px;
     display: flex;
     justify-content: space-around;
     align-items: center;
     width: 80%;
     margin: 0 auto 2.5rem;
     padding: 2rem 1.5rem;
}

.written-content {
     width: 36%;
}

.written-content h3 {
     font-size: 25px;
     color: var(--Very-Dark-Cyan);
}

.written-content p {
     color: var(--Grayish-Blue);
}

.img-content {
     width: 30%;
}

.img-content img {
     width: 100%;
     max-width: 350px;
}



/* responsive design */

/* medium screen */

@media screen and (max-width:1000px) {

     .content-container{
          padding: 2rem 1.2rem;
     }

     .written-content {
          width: 45%;
     }

     .written-content:nth-child(even) {
          padding-left: 0.7rem;
     }

     .img-content {
          width: 40%;
     }
}

/* tablet */

@media screen and (max-width:768px) {
     .content-container {
          flex-direction: column;
          text-align: center;
     }

     .content-container:nth-child(odd){
          flex-direction: column-reverse;
     }

     .written-content {
          width: 90%;
     }

     .img-content {
          width: 60%;
     }
}
/* phone */

@media screen and (max-width:480px) {
     
     .written-content {
          width: 95%;
     }
}
